.projects-section {
    width: 100%;
    background-color: #363F40;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.projects-title {
    font-size: 2em;
    margin-bottom: 5vw;
    color: rgb(211, 203, 203);
    text-align: left;
    margin-left: 14vw;
}

.hover-info {
    font-size: 1.3vw;
    font-weight: 200;
    display: flex;
    margin-top: 1vw;
}

.projects {
    color: #D98566;
}

.projects-grid {
    text-align: center;
    /* Para alinear los proyectos a la izquierda */
}

.project {
    display: inline-block;
    /* Mostrar los proyectos en línea */
    width: calc(35% - 2vw);
    /* Ancho de cada proyecto (50% menos el margen) */
    margin: 3vw;
}

.project-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project-img img {
    width: 100%;
    height: auto;
}

.project-img:hover {
    transform: scale(1.05);
}

.project-info {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: opacity 0.3s;
}

.project:hover .project-info {
    opacity: 2;
}

.project-info h4 {
    margin-bottom: 10px;
}

.project-info p {
    margin-bottom: 20px;
}

.technologies {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

.tech-button {
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 20px;
    padding: 5px 10px;
    font-size: 14px;
    text-align: center;
    cursor: default;
}

.links {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.link-button {
    background-color: #D98566;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    transition: background-color 0.3s, transform 0.3s;
}

.link-button:hover {
    background-color: #B8BFBE;
    transform: scale(1.05);
}