/* Projects.css */
.projects-section {
    width: 100%;
    background-color: #363F40;
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
}

.projects-title {
    font-size: 2em;
    margin-bottom: 20px;
}

.projects-grid {
    text-align: left;
    /* Para alinear los proyectos a la izquierda */
}

.project {
    display: inline-block;
    /* Mostrar los proyectos en línea */
    width: calc(40% - 2vw);
    /* Ancho de cada proyecto (50% menos el margen) */
    margin: 1vw;
    vertical-align: top;
    /* Alinear la parte superior de los proyectos */
}

.project-img {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}

.project-img img {
    width: 100%;
    height: auto;
}

.project-img:hover {
    transform: scale(1.05);
}

.project-info {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    border-radius: 10px;
    transition: opacity 0.3s;
}

.project:hover .project-info {
    opacity: 1;
}

.project-info h4 {
    margin-bottom: 10px;
}

.project-info p {
    margin-bottom: 20px;
}

.links a {
    display: block;
    margin-bottom: 5px;
    color: white;
    text-decoration: none;
}

.links a:hover {
    text-decoration: underline;
}