.hero-background {
    width: 100%;
    height: 50vw;
    align-items: center;
    justify-content: center;
    background-color: #F7F7F5;
}

.img {
    width: 75%;
    border-radius: 1vw;
}


.ex {
    color: #E6650A;
    font-weight: 400;
    font-size: 2.2vw;
}

.highlight {
    font-weight: 350;
    color: #363F40;
    font-size: 1.8vw;
}

.hero {
    padding-top: 14vw;
    padding-bottom: 13vw;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 100%;
}

.hero h1 {
    margin-bottom: 2vw;
}

.hero h1,
.hero h2,
.hero h3 {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.7vw;
    font-weight: 250;
    color: #363F40;
    text-align: left;
    margin-left: 7vw;
    margin-right: 5vw;
    line-height: 2.7vw;
}

.scroll-arrow {
    position: relative;
    bottom: 12vw;
    left: 30%;
    transform: translateX(-50%);
    font-size: 2vw;
    color: #E6650A;
    cursor: pointer;
}


@media (max-width: 600px) {
    .scroll-arrow {
        font-size: 1vw;
        bottom: 1vw;
    }
}

@keyframes fallIn {
    0% {
        transform: translateY(-300%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero h1,
.hero h2,
.hero h3 {
    opacity: 0;
    animation: fallIn 1.5s forwards;
}

.fade-in {
    opacity: 1;
}

@media (max-width: 1250px) {

    .hero h1,
    .hero h2,
    .hero h3 {
        font-size: 2vw;
    }

    .hero img {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 810px) {
    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero h1,
    .hero h2,
    .hero h3 {
        font-size: 1.5vw;
        margin-left: 3vw;
    }

    .hero img {
        width: 60%;
        height: auto;
    }
}

@media (max-width: 600px) {
    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero h1,
    .hero h2,
    .hero h3 {
        font-size: 1.5vw;
        margin-left: 10vw;
    }

    .hero img {
        width: 60%;
        height: auto;
    }
}