.hero-background {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #363F40;
}

.img {
    width: 80%;
}


.ex {
    color: #D98566;
    font-weight: 600;
}

.highlight {
    font-weight: 400;
    color: rgb(211, 203, 203);
}

.hero {
    padding-top: 14vw;
    padding-bottom: 13vw;
    opacity: 0;
    transition: opacity 1s ease-in-out, transform 1s ease-in-out;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: left;
    width: 100%;
    height: 100%;
}

.hero h1 {
    margin-bottom: 2vw;
}

.hero h1,
.hero h2,
.hero h3 {
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
    font-size: 2vw;
    color: rgb(211, 203, 203);
    text-align: left;
    margin-left: 7vw;
    line-height: 3vw;
}

.arrow {
    display: block;
    width: 1.5vw;
    height: 1.5vw;
    border-left: 0.3vw solid #D98566;
    border-bottom: 0.3vw solid #D98566;
    transform: rotate(-45deg);
    animation: bounce 1.5s infinite;
    margin-top: -12vw;
}

@keyframes fallIn {
    0% {
        transform: translateY(-300%);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.hero h1,
.hero h2,
.hero h3 {
    opacity: 0;
    animation: fallIn 1.5s forwards;
}

.fade-in {
    opacity: 1;
}

@media (max-width: 1250px) {

    .hero h1,
    .hero h2,
    .hero h3 {
        font-size: 2vw;
    }

    .hero img {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 810px) {
    .hero {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .hero h1,
    .hero h2,
    .hero h3 {
        font-size: 4vw;
        margin-left: 0;
    }

    .hero img {
        width: 80%;
        height: auto;
    }
}

@media (max-width: 600px) {
    .hero-background {
        background-image: rgb(220, 178, 79);
        background-size: cover;
    }

    .hero {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .hero h1,
    .hero h2 {
        font-size: 6vw;
        margin-bottom: 0;
    }

    .hero h3 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-weight: 500;
        font-size: 4vw;
    }
}