.skills-container {
    padding: 2vw;
    width: 100%;
    background-color: #F7F7F5;
    box-sizing: border-box;
    text-align: center;
    justify-content: center;
}

.tools-title {
    margin-top: 5vw;
    margin-bottom: 3vw;
    text-align: center;
    font-size: 2vw;
    color: #363F40;
    text-align: center;
    font-weight: 200;
}

.skills-title {
    font-size: 2vw;
    margin-bottom: 3vw;
    color: #363F40;
    text-align: center;
    font-weight: 200;
}

.tools {
    color: #E6650A;
    font-weight: 400;
    font-size: 2.2vw;
}


.skill-button {
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 2vw;
    padding: 0.5vw 1vw;
    font-size: 1vw;
    text-align: center;
    cursor: default;
    margin: 0.5vw;
    margin-bottom: 8vw;
}

.skill-button:hover {
    background-color: #495057;
}

@media (max-width: 768px) {
    .skill-button {
        padding: 8px;
        font-size: 12px;
    }
}