.form-style {
    padding: 1vw;
    padding-left: 2vw;
    height: 3.5vw;
    width: 80%;
    font-weight: 500;
    border-radius: 1vw;
    font-family: 'Urbanist', sans-serif;
    font-size: 1vw;
    outline: none;
    color: #363F40;
    background-color: #ADB8B8;
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    display: block;
    margin: 0 auto;
}

.form-group input::-webkit-input-placeholder,
.form-group textarea::-webkit-input-placeholder {
    color: #260F0D;
    font-size: 1.1vw;
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus:-ms-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus::-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus:-moz-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.form-group input:focus::-webkit-input-placeholder {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
}

.btn {
    font-family: 'Urbanist', sans-serif;
    background-color: #D98566 !important;
    border-radius: 1vw;
    height: 3vw;
    font-size: 1vw;
    font-weight: 600;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    padding: 0 3vw;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    color: #ced7e8;
    margin-bottom: 30vw;
}

.btn:active,
.btn:focus {

    background-color: #260F0D;
    color: #b2b9e0;
    /* box-shadow: 0 8px 24px 0 rgba(101, 104, 113, 0.2); */
}

.btn:hover {
    background-color: #F2B885;
    box-shadow: 0 0.1vw 0.5vw 0 #F2B885;
}

@media (max-width: 1200px) {
    .btn {
        height: 4vw;
        font-size: 1.2vw;
    }
}

@media (max-width: 992px) {
    .btn {
        height: 5vw;
        font-size: 1vw;
    }
}

@media (max-width: 768px) {
    .btn {
        height: 6vw;
        font-size: 1vw;
    }
}

@media (max-width: 600px) {
    .btn {
        height: 8vw;
        font-size: 1vw;
    }
}

@media (max-width: 480px) {
    .btn {
        height: 10vw;
        font-size: 1vw;
    }
}

@media (max-width: 360px) {
    .btn {
        height: 12vw;
        font-size: 1vw;
    }
}

.contact-card {
    padding-top: 2vw;
    padding-bottom: 4vw;
    background-color: #6C7372;
}

.contact-card h4 {

    font-family: 'Urbanist', sans-serif;
}

.contact-card h3,
.contact-card span {
    margin-top: 4vw;
    font-size: 3.2vw;
    font-family: 'Urbanist', sans-serif;
    margin-bottom: 3vw;
}



.contact-card span {
    font-size: 3vw;
    color: #D98566;
    font-family: 'Urbanist', sans-serif;
}



@media (max-width: 600px) {
    .contact-card {
        padding-top: 5vw;

    }

    .contact-card h3,
    .contact-card span {
        font-size: 1.5vw;
    }
}