.personal-info-container {
    margin-top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2vw;
    background-color: #F7F7F5;
}

.info-title {
    font-family: 'Urbanist', sans-serif;
    font-size: 2vw;
    padding-top: 4vw;
    font-weight: 300;
    text-align: center;
    color: #323940;
    margin-left: 10vw;
}

.cv-button {
    margin-left: 1vw;
    display: inline-block;
    margin-top: 1vw;
    padding: 0.5vw 2vw;
    background-color: #B8BFBE;
    color: #323940;
    text-decoration: none;
    font-family: 'Urbanist', sans-serif;
    font-size: 1.5vw;
    border-radius: 0.5vw;
    transition: background-color 0.3s ease;
}

.cv-button:hover {
    background-color: #E6650A;
}