.academic-background-container {
    background-color: #D9D9D9;
    padding-top: 0;
    height: auto;
    /* Ajuste automático de la altura */
}

.background-title {
    font-family: 'Urbanist', sans-serif;
    font-size: 2vw;
    margin-bottom: 2vw;
    padding-top: 5vw;
    padding-bottom: 2.5vw;
    font-weight: 150;
    text-align: center;
}

.big-letter {
    font-size: 12vw;
    font-family: 'Urbanist', sans-serif;
    font-weight: 200;
}

.bold-title {
    font-weight: 500;
    color: #E6650A;
    margin-left: 2vw;
    margin-right: 1vw;
}

.photos-container {
    display: flex;
    justify-content: space-between;
    /* Ajustar espacio entre columnas */
    align-items: flex-start;
    flex-wrap: wrap;
    /* Permitir que las columnas se envuelvan */
    gap: 1vw;
    /* Reducir el espacio entre las columnas */
    padding: 0 2vw;
    /* Espacio a los lados para asegurar que las columnas no se salgan de la pantalla */
}

.photo {
    text-align: center;
    width: 30%;
    /* Ajustar el ancho de las columnas */
    position: relative;
}

.photo img {
    width: 15vw;
    height: 15vw;
    border-radius: 2vw;
    object-fit: cover;
}

.expand-button {
    margin-top: 1vw;
    cursor: pointer;
    color: #E6650A;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 1.3vw;
}

.expand-button:hover {
    text-decoration: underline;
}

.academic-info {
    margin-top: 1vw;
    padding: 1vw;
    /* border: 1px solid #323940; */
    border-radius: 1vw;
    background-color: #D9D0BF;
    width: 30vw;
    /* Ajusta a toda la anchura del contenedor */
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 1vw;
    color: #323940;
}

.academic-info h3 {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.4vw;
    color: #323940;
    font-weight: 600;
}

.work-experience-container {
    margin-top: 5vw;
    padding: 2vw;
    background-color: #f1f1f1;
    /* Color de fondo diferente para separar visualmente */
}

.work-experience-title {
    font-family: 'Urbanist', sans-serif;
    font-size: 2vw;
    margin-bottom: 2vw;
    font-weight: 150;
    text-align: center;
}

.work-experience {
    margin-top: 2vw;
    padding: 2vw;
    border: 1px solid #ccc;
    border-radius: 1vw;
    background-color: #fff;
    width: 30vw;
    margin: 0 auto 2vw auto;
    /* Centrar y agregar espacio inferior */
    text-align: left;
}

.work-experience h3 {
    font-weight: bold;
    /* Negrita para los títulos */
}

.work-experience p {
    font-weight: normal;
    /* Normal para el texto de los párrafos */
}