.academic-background-container {
    background-color: #F7F7F5;
    padding-top: 0;
    height: auto;
}

.background-text {
    padding-top: 3vw;
    margin-left: 12vw;
    color: #363F40;
    font-family: 'Urbanist', sans-serif;
    font-size: 2.2vw;
    font-weight: 300;
    line-height: 2.7vw;
    margin-bottom: 5vw;
}

.background-text span {
    color: #E6650A;
}

.photos-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 1vw;
    padding: 0 7vw;
}

.photo {
    text-align: center;
    width: 28%;
    position: relative;
}

.photo img {
    width: 15vw;
    height: 15vw;
    border-radius: 2vw;
    object-fit: cover;
}

.expand-button {
    margin-top: 1.5vw;
    cursor: pointer;
    color: #E6650A;
    text-align: center;
    font-size: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2vw;
}

.expand-button:hover {
    text-decoration: underline;
}

.academic-info {
    margin-top: 1vw;
    padding: 1vw;
    border-radius: 1vw;
    background-color: #D9D0BF;
    width: 25vw;
    text-align: center;
    font-family: 'Urbanist', sans-serif;
    font-size: 1vw;
    color: #323940;
}

.academic-info h3 {
    font-family: 'Urbanist', sans-serif;
    font-size: 1.3vw;
    color: #323940;
    font-weight: 500;
}