html {
    scroll-behavior: smooth;
}

#about-me-section {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#projects-section {
    padding-top: 0px;
    box-sizing: border-box;
}

#contact-me-section {
    padding-top: 0px;
}

section {
    height: 650px;
}

@media screen and (max-width: 991px) {
    #about-me-section {
        margin-top: 0px;
        padding-top: 0px;
    }

    #projects-section {
        padding-top: 0px;
    }

    #contact-me-section {
        padding-top: 0px;
    }
}